*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Accord Regular';
    background: rgb(245,246,241);
}

.ocultar{
    display:none;
}
.fixed{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0; 
	z-index: 10;
}
.blue{
    background: blueviolet !important;
}
/* --- --- CLASS UNITS --- --- */
.back-transparent{
    opacity: .8;
}
.change-color-barra{
    color: rgb(150, 128, 95) !important;
}
.change-color-barra:hover{
    opacity: 1;
}
.change-opacity-items{
    opacity: .4;
}
.change-opacity-items:hover{
    opacity: .8;
}
.item-active{
    opacity: 1;
}
.add-border-reserva{
    border: 2px solid rgb(175, 136,79) !important;
}
.menu-color-scroll{
    color: rgba(73, 68, 68, 0.781) !important;
    font-weight: bold;
}
.menu-color-scroll:hover{
    color: rgb(73, 68, 68) !important;
}
.logo-home-color{
    color: rgb(38, 38, 38) !important;
}
.change-instagram-and-book{
    color: rgb(73, 68, 68) !important;
}
.change-instagram-and-book:hover{
    color: rgb(38, 38, 38) !important;
}
/* --- --- --- --- --- --- */
.header-container{
    position: relative;
}
/*=============================================
                Barra de navegacion
=============================================*/ 
.barra-navegacion{
    display: flex;
    justify-content: space-between;
    padding: 13px 0px 5px 0px;
  /*   margin-top: 7px; */
    background: #fffef8;
    flex-wrap: wrap;
    z-index: 1000;


}
.barra-navegacion > * {
    flex-basis: 33.3%;
}
.boton-home{
    flex-basis: 10%;
    padding-left: 30px;
    font-weight: lighter;
    font-family: 'Rotterdalle';
    line-height: 10px;
    font-size: 33px;
    cursor: pointer;
}
.menu{
    display: none;
    font-family: 'Accord Regular';
    font-size: 9pt;
    font-weight: 200;
    flex-basis: 100%;
    height: 100vh;
    color: rgb(245, 246, 241);
    padding-top: 20px;
    margin-top: 10px;
}
.menu .menu-items{
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px solid #f6f6f6;
    padding: 10px 0 10px 30px;

}
.menu-items a{
    text-decoration: none;
    color: rgb(73, 68, 68);
}
.menu-mobile{
    text-align: right;
    font-weight: lighter;
    cursor: pointer;
    padding-right: 30px;
    flex-basis: 10%
}
.mobile-book-now{
    text-align: center;
    font-family: 'Accord Regular';
    text-transform: uppercase;
    color: #575c5f;
    transition: all ease .3s;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 7px;
    flex-basis: 50%;

}
.mobile-book-now h4{
    font-size: 17px;
    font-family: 'Accord Regular';
    color: rgb(38, 38, 38);
}
.mobile-book-now:hover{
    color: rgb(38, 38, 38);
}

.instagram-mas{
    display: none;
}

.instagram-mas .adult {
    align-self: flex-end;
    color: rgb(245, 246, 241);
    letter-spacing: 4px;
    font-size: 12pt;
}

.instagram-mas .container-mas {
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    width: 100%;
}
.container-mas h4 {
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'Accord Regular';
    color: rgb(245, 246, 241);
    cursor: pointer;
    border: 2px solid rgb(245, 246, 241);
    padding: 6px 10px;
}

.container-mas h4:hover{
    color: rgba(77, 80, 80, 0.685);
    border-color: rgba(77, 80, 80, 0.685);
}
.container-mas i{
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.container-mas svg{
    cursor: pointer;
    font-size: 20px;
    color: rgb(245, 246, 241);
    margin-right: 30px;
}
.container-mas svg:hover {
    color: rgb(38, 38, 38);
}
.container-mas span {
    margin-right: 20px;
    color: rgb(245, 246, 241);
    cursor: pointer;
}
.container-mas span:hover {
    color: rgb(38, 38, 38);
}


/*=============================================
                     SLIDER
=============================================*/
.carousel-inner{
    height: 60vh;
}
.carousel-inner .carousel-item {
    height: 100%;
    width: 100%;
}
.carousel-inner .carousel-item img{
    height: 100%;
    width: 100%;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    margin-right: 30px;
    position: relative;
}
.carousel-indicators li::before{
    background: rgba(248, 246, 246, 0.945);
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 7px;
    z-index: 100;
    height: 7px;
    top: -2px;
    left: 1px;
}

/*=============================================
                MAIN CONTENT
=============================================*/
.main-content {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.main-content > * {
    flex-basis: 100vw;
    padding: 40px 0;
    height: 80vw;
    overflow: hidden;
    
}
.main-content .main-items > img {
    width: 100%;
    height: 100%;
    transition: all ease .5s;
} 
/* .main-content .main-items > img:hover{
    transform: scale(1.1);
} */
.main-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 13pt;
    color: rgb(175, 136,79);
    transition: color ease .4s;
    cursor: pointer;
    margin-top: 10px;
}
.main-items .main-title:hover{
    color: rgb(38, 38, 38);
}

/*=============================================
                FOTOS
=============================================*/ 
.container-principal-fotos{
    margin-top: 100px;
}
.container-principal-fotos .main-title{
    margin-bottom: 30px;
}
.container-fotos img {
    width: 100%;
    cursor: pointer;
    transition: all ease .4s;
}
.container-fotos img:hover{
    transform: scale(1.1);
}
.foto, .foto-primera, .foto-segunda{
    overflow: hidden !important;
    margin-bottom: 10px;
}
.foto-dividida {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .foto-dividida > *{
    flex-basis: 50%;

} */

/*=============================================
                    CONTACTO
=============================================*/
.container-contacto {
    margin-bottom: 100px;
}
.container-contacto .main-title {
    margin-top: 100px;
    margin-bottom: 30px;
}
.mapa img{
    width: 100%;
}

.container-newsletter{
    margin-top: 40px;
}

/* --- Direccion y horarios --- */

.direccion-contacto p {
    margin-bottom: 0;
    color: rgb(175, 136,79);
    font-size: 13pt;
} 

.direccion-contacto >* {
    margin-bottom: 16px;
}
.direccion-contacto .redes-sociales svg{
    color: rgb(175, 136,79);
    font-size: 17pt;
    cursor: pointer;
}

/* --- Formulario de contacto --- */

.formulario-contacto input,.formulario-contacto textarea, .btn-submit > button{
    border-radius: initial;
    border: 2px solid rgb(175, 136,79);
    color: rgb(175, 136,79);
    /* font-family: 'Accord Thin'; */
    font-size: 12pt;
    background: transparent;
}
.formulario-contacto ::-webkit-input-placeholder,
.formulario-contacto ::-moz-placeholder {
    color: rgb(175, 136,79);
    opacity: .7;
}
.btn-submit > button{
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*=============================================
                   FOOTER
=============================================*/
/* footer {
    margin-top: 40px;
    margin-bottom: 20px;
}
footer p {
    text-align: center;
    font-size: 10px;
    letter-spacing: 3px;
    font-family: 'helvetica';
    margin-bottom: 0;
} */

/* ################################################################################
                            PAGE ALAVA
################################################################################ */

.page-container{
    margin-top: 200px;
}
.page-alava {
    margin-bottom: 150px;
}
/* --- Filosofia --- */
.page-title {
    text-align: center;
    color: rgb(175, 136,79);
    font-size: 18pt;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.page-alava .page-text p{
    font-size: 12pt;
    letter-spacing: 2px;
    text-align: center;
    padding: 0;
    margin-bottom: 25px;
}

.page-alava .page-text{
    margin-bottom: 75px;
}
/* --- Galeria --- */
.page-alava .galeria {
    
}
.page-alava .galeria img{
    width: 100%;
}
.page-alava .galeria .img-big,.page-alava .galeria .img-small {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.page-alava .galeria .img-big >*, .page-alava .galeria .img-small >*{
    flex-basis: 100%;
    padding: 5px;
}

/* ################################################################################
                            PAGE SUITES
################################################################################ */

.container-suites {
    margin-top: 150px;
}

/* --- --- Suite slider --- --- */
.suite-slider{
    display: flex;
    justify-content: center;
}
.suite-slider > *{
    flex-basis: 100%;
    /* height: 60vh; */
}

.suite-slider .carousel-inner {
    height: 70vh;
}

.suite-slider .carousel-control-prev,
.suite-slider .carousel-control-next{
    display: none;
}

.suite-slider .carousel-control-prev{
    left: -10%;
}
.suite-slider .carousel-control-next{
    right: -10%;
}
.suite-slider .carousel-control-prev svg,
.suite-slider .carousel-control-next svg {
    color: rgb(175, 136,79);
    font-size: 18pt;
}

/*=============================================
                MEDIA QUERIES
=============================================*/ 
@media(min-width: 480){
    .main-content > * {
        flex-basis: 80vw;
        padding: 40px;
        height: 55vw;
    }
}
@media (min-width: 768px){

    .barra-navegacion .menu {
        flex-basis: 35%;
    }
    /* --- --- Slider --- --- */
    .carousel-inner{
        height: 80vh;
    }

    /* --- --- Main Content --- --- */
    .main-content > * {
        flex-basis: 33vw;
        padding: 40px;
        height: 25vw;
    }

    /* --- --- Page Alava --- --- */
    .page-alava .galeria .img-big >*, .page-alava .galeria .img-small >*{
        flex-basis: 30%;
        padding: 5px;
    }



}

@media(min-width: 1024px){
    /* --- --- Page Alava --- --- */
    .page-alava .page-text p{
        padding: 0 15%;
    }
}

@media (min-width: 1100px){

    /* --- navegacion --- */
    .barra-navegacion {
        background: transparent;
    }
    .barra-navegacion .menu{
        /* flex-basis: 50%; */
        display: flex;
        justify-content: space-between;
        height: auto;
        padding-top: 0px;
    }
    .boton-home {
        color: white;
    }

    .instagram-mas, .boton-home{
        flex-basis: 25%;
    }

    .instagram-mas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 100px;
        padding-right: 30px;
        align-items: center;
    }

    .menu-mobile,.mobile-book-now{
        display: none;
    }
    .menu .menu-items{
        padding: 0;
        border: 0;
    }

    .menu-items a{
        color: rgb(245, 246, 241)
    }
    .menu-items a:hover{
        color: rgb(38, 38, 38);
    }
    /* --- --- Slider --- --- */
    .carousel-inner{
        height: 100vh;
    }

    /* --- main content --- */
    /* .main-content{
        display: flex;
        
    }
    .main-content > *{
        flex-basis: 33.33%;
        padding: 40px;
        
    }

    .main-item h3 {
        
        top: calc( 50% - 20px);
        width: calc(100% - 80px);
        
    }
    .main-item.item5 h3,
    .main-item.item2 h3{
        width: 100%;
    } */
    

    .container-relative .main-item.item2{
        position: absolute;
        width: 80%;
        top: -3px;
    }
    .container-relative .main-item.item5 {
        position: absolute;
        width: 80%;
        top: 78px;
    }

    /* --- --- PAGE SUITES --- --- */
    .suite-slider > *{
        flex-basis: 90%;
        /* height: 60vh; */
    }
    .suite-slider .carousel-control-prev,
    .suite-slider .carousel-control-next{
        display: flex;
    }
}