@font-face{
	font-family: "Brown Light";
	src: url(../myFonts/BrownLight.ttf);
}
@font-face{
	font-family: "Brown bold";
	src: url(../myFonts/Brown\ Bold.ttf);
}
@font-face{
	font-family: "Rotterdalle";
	src: url(../myFonts/Rotterdalle.otf);
}
